<ion-header-bar align-title="center" style="background-color: #F521A2 ">
	<div class="buttons">
		<button style="color: white" class="button button-icon icon ion-arrow-left-c" ng-click="home()">
			{{album[0].albumName}}
		</button>
	</div>
	<h1 style="color: white"  class="title">IBabyLife</h1>
</ion-header-bar>
<ion-content>
	<ion-list>
		<div style="margin: 5px" class="item item-avatar">
			<h2>{{album[0].albumName}}</h2>
			<p>
				{{kor}}
			</p>
		</div>

		<ion-item  style="background-color: transparent" ng-repeat="event in events">

			<div style="margin-bottom: 5px" class="list card">
				
				<div class="item item-avatar">
					<img src="{{event.eventImg1}}">
					<h3>{{album[0].albumName}}</h3>
					<p>
						<z ng-if="event.eventMilestone!='undefined'">
							{{event.eventMilestone}}
							<br>
						</z>

						{{event.eventDate}} ~ {{mikorTortent(event.eventDate)}}
					</p>

				</div>

				<div class="item item-body">
					<ion-scroll direction="x" id="kepek"   class="wide-as-needed" >
						<img ng-click="showImage(event.eventImg1)" ng-if="event.eventImg1!='undefined'" class="eventImgs thumb button" id="kep" style=" background-image: url('{{event.eventImg1}}')"   >
						<img ng-click="showImage(event.eventImg2)" ng-if="event.eventImg2!='undefined'" class="eventImgs thumb button" id="kep" style=" background-image: url('{{event.eventImg2}}')" >
						<img ng-click="showImage(event.eventImg3)" ng-if="event.eventImg3!='undefined'" class="eventImgs thumb button" id="kep"  style=" background-image: url('{{event.eventImg3}}')" >
						<img ng-click="showImage(event.eventImg4)" ng-if="event.eventImg4!='undefined'" class="eventImgs thumb button" id="kep"  style=" background-image: url('{{event.eventImg4}}')" >
						<img ng-click="showImage(event.eventImg5)" ng-if="event.eventImg5!='undefined'" class="eventImgs thumb button" id="kep"  style=" background-image: url('{{event.eventImg5}}')" >
						<img ng-click="showImage(event.eventImg6)" ng-if="event.eventImg6!='undefined'" class="eventImgs thumb button" id="kep"  style=" background-image: url('{{event.eventImg6}}')" >
						<img ng-click="showImage(event.eventImg7)" ng-if="event.eventImg7!='undefined'" class="eventImgs thumb button" id="kep"  style=" background-image: url('{{event.eventImg7}}')" >
						<img ng-click="showImage(event.eventImg8)" ng-if="event.eventImg8!='undefined'" class="eventImgs thumb button" id="kep"  style=" background-image: url('{{event.eventImg8}}')" >
						<img ng-click="showImage(event.eventImg9)" ng-if="event.eventImg9!='undefined'" class="eventImgs thumb button" id="kep"  style=" background-image: url('{{event.eventImg9}}')" >
						<img ng-click="showImage(event.eventImg10)" ng-if="event.eventImg10!='undefined'" class="eventImgs thumb button" id="kep"  style=" background-image: url('{{event.eventImg10}}')" >

					</ion-scroll>

					<p ng-if="event.eventMessage!='undefined'">
						{{event.eventMessage}}
					</p>
				</div>

			</div>
		</ion-item>
		<ion-item style="background-color: transparent">
			<div class="item item-text-wrap" style="text-align: center">
				{{album[0].albumDate}}
				<br />
				{{album[0].albumName}} megszületett !
				<br />
				~~~~~~~~~~~~~~~~~~~~~~~~
				<br />
			</div>
		</ion-item>
	</ion-list>
	<script id="image-modal.html" type="text/ng-template">
		<div class="modal image-modal transparent" ng-click="closeModal()">
		<ion-pane class="transparent">
		<img ng-src="{{imageSrc}}" class="fullscreen-image"/>
		</ion-pane>
		</div>
	</script>

</ion-content>
