<style>
	.my-item {
		left: 0;
		right: 0;
	}
</style>

<ion-header-bar align-title="center" style="background-color: #F521A2 ">
	<div class="buttons">
		<button style="color: white" class="button button-icon icon ion-arrow-left-c" ng-click="home()">
			{{album[0].albumName}}
		</button>
	</div>
	<h1 style="color: white"  class="title">IBabyLife</h1>
	<div class="buttons">
		<button style="color: white" class="button button-icon icon ion-android-share-alt" ng-click="share()"></button>
		<button style="color: white" class="button button-icon icon ion-plus" ng-click="newEvent()"></button>
	</div>
</ion-header-bar>
<ion-header-bar class="bar-light bar-subheader transparent" >
	<div style="margin: 0px 5px" class="item" >
		<h2 style="display: inline;float: left">{{album[0].albumName}}
		<br />
		<p>
			{{kor}}
		</p></h2>
		<p style="display: inline;float: right;text-align: right;padding-right: 5px">
			{{album[0].albumSex}} <i ng-if="album[0].albumSex=='Fiú'" class="icon ion-male"></i><i ng-if="album[0].albumSex=='Lány'" class="icon ion-female"></i><br />
			{{honap(album[0].albumDate)}}<i class="icon ion-ios-heart"></i>
		</p>

	</div>
</ion-header-bar>
<ion-content delegate-handle="mainScroll" has-bouncing="true" scroll="true" style="padding-top: 30px">

	<div class="list" style="max-width: 600px;margin: auto auto">

		<div  class="item my-item transparent"
		collection-repeat="event in events"
		collection-item-width="'100%'"
		collection-item-height="450"
		ng-style="450">

			<div id="kepekDiv" style="text-align: center;padding: 0px">
				<div ng-if="event.kepek.length==1" >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '100%','height':'300px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[0] + ')'}"  >
				</div>
				<div ng-if="event.kepek.length==2" >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '50%','height':'300px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[0] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '50%','height':'300px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[1] + ')'}"  >
				</div>
				<div ng-if="event.kepek.length==3" >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '50%','height':'300px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[0] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '50%','height':'150px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[1] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '50%','height':'150px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[2] + ')'}"  >
				</div>
				<div ng-if="event.kepek.length==4" >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '100%','height':'200px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[0] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[1] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[2] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[3] + ')'}"  >
				</div>
				<div ng-if="event.kepek.length==5" >
					<div style="display: inline;float: left;width: 50%;height: 300px">
						<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '100%','height':'150px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[0] + ')'}"  >
						<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '100%','height':'150px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[1] + ')'}"  >
					</div>
					<div style="display: inline;float: left;width: 50%;height: 300px">
						<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '100%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[2] + ')'}"  >
						<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '100%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[3] + ')'}"  >
						<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '100%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[4] + ')'}"  >
					</div>
				</div>
				<div ng-if="event.kepek.length==6" >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '66%','height':'200px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[0] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[1] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[2] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[3] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[4] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[5] + ')'}"  >
				</div>
				<div ng-if="event.kepek.length==7" >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '66%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[0] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[1] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '66%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[2] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[3] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[4] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[5] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[6] + ')'}"  >
				</div>
				<div ng-if="event.kepek.length==8" >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'200px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[0] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[1] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[2] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[3] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[4] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[5] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[6] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[7] + ')'}"  >
				</div>
				<div ng-if="event.kepek.length >= 9" >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[0] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[1] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[2] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[3] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[4] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[5] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[6] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[7] + ')'}"  >
					<img  class="eventImgs thumb button" id="kep" ng-style="{'width' : '33%','height':'100px', 'background-image': 'url(http://mobileapps.fekiwebstudio.hu/ibabylife/image.php?image=' + event.kepek[8] + ')'}"  >
				</div>
			</div>
			<div ng-if="event.eventMessage!='undefined'" class="item ">
				{{event.eventMessage}}
			</div>
			<div class="item" style="text-align: right;margin: 0px;padding: 0px">
				<p>
					<z ng-if="event.eventMilestone!='undefined'">
						{{event.eventMilestone}}

					</z>
				<p style="padding-left:10px;float: left;display: inline;font-size: 12px">
				 <i class="icon ion-clock"></i> {{honap(event.eventDate)}} 
				</p>
				<p style="padding-right:10px; float: right;display: inline;font-size: 12px">
					{{mikorTortent(event.eventDate)}} <i class="icon ion-ios-calendar-outline"></i>
				</p>

				</p>

			</div>

		</div>

	</div>

</ion-content>

