<style>
	.mainMenu {
		position:fixed;
		width:100%;
		padding:20px;
		bottom:30px;
	}
</style>

<ion-side-menus>
	<!-- Center content -->
	<ion-side-menu-content edge-drag-threshold="false"  >
		<ion-header-bar align-title="center" style="background-color: #F521A2 ">
			<h1 style="color: white"  class="title">IBabyLife</h1>
			<div  class="buttons">
				<button style="color: white" class="button button-icon icon ion-gear-a" ng-click="menuRight()"></button>
			</div>
		</ion-header-bar>

		<img width="100%" src="css/background-home.jpg" />
		<div class="mainMenu">

			<button class="button button-block button-light icon ion-android-camera" data-ng-click="takePic()">
				Kamera
			</button>

			<button  class="button button-block button-light icon ion-clock" data-ng-click="timeline()">
				Idővonal
			</button>
			<button  class="button button-block button-light icon ion-android-book" data-ng-click="fotoalbum()">
				Fotóalbum készítés
			</button>

		</div>
		<ion-footer-bar class="transparent" >
			
			<h1 class="title"></h1>
			<div class="buttons transparent" ng-click="feedback()">
				<button class="button button-icon icon-right transparent icon ion-android-hand">
					Segíts 
				</button>
			</div>
		</ion-footer-bar>
	</ion-side-menu-content>

	<!-- Right menu -->
	<ion-side-menu  side="right" >
		<ion-content>

			<a class="item item-icon-left" > <i class="icon ion-person"></i> {{user.name}}
			<br />
			{{user.email}} </a>

			<a  class="item item-icon-left" ng-click="newalbum()"> <i class="icon ion-ios7-albums"></i> Új album</a>
			<ion-scroll  direction="x" id="kepek" style="padding: 10px 0px" class="wide-as-needed" >
				<button ng-click="albumline({{album.id}})" class="item item-thumbnail-left album button" ng-repeat='album in albums'>
					<p>
						{{album.albumName}}
					</p>
				</button>
			</ion-scroll>

			<a ng-if="offlineEvents.length>0" class="item item-icon-left" > <i class="icon ion-shuffle"></i> Feltöltése vár <span class="badge badge-assertive">{{offlineEvents.length}}</span> </a>

			<div class="list" style="padding: 15px">
				<a class="item item-icon-left item-icon-right" ng-click="uploadEvent(event.id,$index)" ng-repeat="event in offlineEvents"> <i class="icon ion-upload"></i> {{albums[event.albumId-1].albumName}}<span class="item-note">{{event.eventDate}}</span></a>

			</div>

		</ion-content>

	</ion-side-menu>
</ion-side-menus>

