<ion-header-bar align-title="center" style="background-color: #F521A2 ">	
	<h1 style="color: white"  class="title">IBabyLife</h1>
</ion-header-bar>
<ion-content>

	<div class="card">
		
		<div class="item item-text-wrap">
			Egy alkalmazás, hogy semmi ne merüljön feledésbe...
		</div>

	</div>

	<div style="padding: 10px; height: 100%;">
		<button id="facebook" class="button button-block button-positive icon ion-social-facebook" ng-click="loginFacebook()">
			Facebook belépés
		</button>

		<button id="google" class="button button-block button-assertive icon ion-social-google" ng-click="loginGoogle()">
			Google belépés
		</button>
 		<!-- twittertől nemtudom elkérni az email cimet
		<button id="twitter" class="button button-block button-calm icon ion-social-twitter" ng-click="loginTwitter()">
			Twitter belépés
		</button>
		-->
		<button class="button button-block button-pink icon ion-android-contact" ng-click="loginIbabyLife()">
			IBabyLife belépés
		</button>
	</div>
</ion-content>