<ion-header-bar align-title="center" style="background-color: #F521A2 ">

	<h1 style="color: white"  class="title">IBabyLife</h1>
	<div  class="buttons">
		<button style="color: white" class="button button-icon icon ion-home" ng-click="home()"></button>
	</div>
</ion-header-bar>
<ion-content>

	<div style="padding: 10px;">

		<div class="item item-body" style="text-align: center">
			<ion-slide-box delegate-handle="theSlider">
				<ion-slide ng-repeat="image in images">
					<div class="box eventImage">
						<img style="background-image: url('{{image}}')" ng-click="checkImagesSize() ? show($index) : console.log('fail')" class="eventImgs thumb button" id="kep" >						
					</div>
				</ion-slide>
			</ion-slide-box>
			<h5> {{images.length}}/10 </h5>
		</div>

		<div class="list">
			<form id="newEvent">

				<label class="item item-input">
					<input type="text" ng-model="data.message" id="megjegyzes" placeholder="Saját megjegyzés..."/>
				</label>
				<!--
				<label class="item item-input item-select">
				<div class="input-label">
				Mérföldkő ?
				</div>
				<select ng-model="data.milestone" >
				<option selected>Mosolygás</option>
				<option>Nevetés</option>
				<option>Lábfejrágcsálás</option>
				<option>Különböző hangok mint berregés, buborék fújás</option>
				<option>Hajfésülés, fogmosás</option>
				<option>Kedvenc és elválaszthatatlan tárgyak</option>
				<option>Puszi dobás</option>
				</select> </label>
				-->
				<label class="item item-input item-select" ng-if ="!albumID">
					<div class="input-label">
						Melyik album ?
					</div> <select ng-model="data.album" ng-options="album.albumName for album in albums"></select></label>
			</form>
		</div>

		<button  ng-if='!mentve && images.length < 10'   class="button button-block button-light icon ion-plus-round" ng-click="plusz1Image()">
			1 kép
		</button>
		<button  ng-if='!mentve'  class="button button-block button-light icon ion-bookmark" ng-click="saveEvent()">
			Esemény mentése
		</button>

		<button ng-if='mentve' class="button button-block button-pink icon ion-checkmark" >
			Esemény elmentve
		</button>

	</div>

</ion-content>
